<br>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      Editing Employee
    </div>
    <div class="panel-body">
      <div class="row">
<%= render 'form', employee: @employee %>
<%= link_to 'Show', @employee %> | <%= link_to 'Back', employees_path %>
      </div>
    </div>
  </div>
</div>