<br>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      New Employee
    </div>
    <div class="panel-body">
      <div class="row">
<%= render 'form', employee: @employee %>
<%= link_to icon('chevron-left', 'Back') , employees_path   %>
      </div>
    </div>
  </div>
</div>