<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      Formulario de Aplicacion para el siguiente Trabajo
    </div>
    <div class="panel-body">
      <div class="container-fluid">
        <%= render 'form', aplicationjob: @aplicationjob , job: @job %>
      </div>
    </div>
  </div>
</div>
<%#= link_to 'Back', aplicationjobs_path %>
