<section class="section content">
  <%= render "bloques/admin_section" %>


  <div class="row">
    <div class="col-md-3">
      <div class="service-item">
        <div class="icon-wrapper">
          <i class="ti-search">
          </i>
        </div>
        <h2>
          Search Miloins of jobs
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eligendi consequuntur assumenda perferendis natus dolorem facere mollitia eius.
        </p>
      </div>
      <!-- Service-Block-1 Item Ends -->
    </div>

    <div class="col-md-3">
      <div class="service-item">
        <div class="icon-wrapper">
          <i class="ti-search">
          </i>
        </div>
        <h2>
          Search Miloins of jobs
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eligendi consequuntur assumenda perferendis natus dolorem facere mollitia eius.
        </p>
      </div>
      <!-- Service-Block-1 Item Ends -->
    </div>

    <div class="col-md-3">
      <div class="service-item">
        <div class="icon-wrapper">
          <i class="ti-search">
          </i>
        </div>
        <h2>
          Search Miloins of jobs
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eligendi consequuntur assumenda perferendis natus dolorem facere mollitia eius.
        </p>
      </div>
      <!-- Service-Block-1 Item Ends -->
    </div>

    <div class="col-md-3">
      <div class="service-item">
        <div class="icon-wrapper">
          <i class="ti-search">
          </i>
        </div>
        <h2>
          Search Miloins of jobs
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eligendi consequuntur assumenda perferendis natus dolorem facere mollitia eius.
        </p>
      </div>
      <!-- Service-Block-1 Item Ends -->
    </div>

    <div class="col-md-3">
      <div class="service-item">
        <div class="icon-wrapper">
          <i class="ti-search">
          </i>
        </div>
        <h2>
          Search Miloins of jobs
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eligendi consequuntur assumenda perferendis natus dolorem facere mollitia eius.
        </p>
      </div>
      <!-- Service-Block-1 Item Ends -->
    </div>
  </div>

</section>



