<!-- Services -->
<div class="popular-w3" id="services">
  <div class="container">
    <h3 class="ser-w3">Our Best services</h3>
    <div class="popular-grids">
      <div class="col-md-4 popular-grid">
        <div class="popular-text">
          <h5>Lorem Ipsum is simply text of the printing</h5>
          <div class="detail-bottom">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod tempor incididunt ut labore</p>
          </div>
        </div>
        <%= image_tag("features/ban1.jpg" , class: "img-responsive") %>
      </div>
      <div class="col-md-4 popular-grid">
        <div class="popular-text sec">
          <h5>Lorem Ipsum is simply text of the printing</h5>
          <div class="detail-bottom">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod tempor incididunt ut labore</p>
          </div>
        </div>
        <%= image_tag("features/ban3.jpg" , class: "img-responsive") %>
      </div>
      <div class="col-md-4 popular-grid">
        <div class="popular-text">
          <h5>Lorem Ipsum is simply text of the printing</h5>
          <div class="detail-bottom">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore sed do eiusmod tempor incididunt ut labore</p>
          </div>
        </div>
        <%= image_tag("features/ban4.jpg" , class: "img-responsive") %>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //Services -->