<!-- Slider -->
<div class="slider">
  <div class="callbacks_container">
    <ul class="rslides" id="slider">
      <li>
        <div class="slider-img">
          <%= image_tag("bg/counter-bg.jpg", class: "img-responsive img-centered") %>
        </div>
        <div class="slider-info">
          <h1 class="title-h1">Encuentre su Trabajo </h1><br>
          <h2 class="title-h2">M&aacute;s de <strong>12,000</strong>Proyectos, Emprendimientos y Trabajos esperando x Ud!</h2>
          <div class="search-div">
            <form method="" action="#" class="search-div">
            <div class="row">
              <div class="col-md-4 col-sm-6">
                <div class="form-group">
                  <input class="form-control" type="text" placeholder="job title / keywords / company name">
                  <i class="ti-time"></i>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="form-group">
                  <input class="form-control" type="email" placeholder="city / province / zip code">
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="search-category-container">
                      <select id="categorias_sel" class="form-control" onchange="buscar_categorias();">
                        <option>Todas las Categorias</option>
                          <% @cat = Category.all
                             @cat.each do |category| %>
                            <option><%= category.category %> </option>
                        <% end %>
                      </select>
                </div>
              </div>
              <div class="col-md-1 col-sm-6">
                <button type="button" class="form-control btn-primary "><%= icon ("search") %></button>
              </div>
            </div>
            </form>
          </div>
          <div class="popular-jobs">
            <b class="popular-key">Popular Keywords: </b>
            <a href="#">Web Design</a>
            <a href="#">Manager</a>
            <a href="#">Programming</a>
            <a href="#" data-toggle="modal" data-target="#myModal5">Ver Mas</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="clearfix"></div>
</div>

<!-- Modal5 -->
<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" >
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>Blog Post</h4>
        <span>
          <%#= render "devise/registration/new" %>
        </span>
      </div>
    </div>

  </div>
</div>
<!-- //Modal5 -->

<!-- //Slider -->
<br>