<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      New Job
    </div>
    <div class="panel-body">
      <div class="row">
<%= render 'form', job: @job %>
<%= link_to 'Back', jobs_path %>
      </div>
    </div>
  </div>
</div>